SUBSYSTEMS=="usb", ATTRS{serial}=="FTXLTQNI", MODE="0666", SYMLINK+="ttyUSB-VECTORNAV"

SUBSYSTEMS=="usb", ATTRS{serial}=="0000:00:15.0", MODE="0666", SYMLINK+="ttyUSB-LCD" 


